@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    
}
@font-face {
    font-family: "RazerF";
    src: url(font/azonix/Azonix.otf);
}
:root{
    --font1: "RazerF";
}
body{
    height: auto;
    width: auto;
}
header{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logo{
    width: 35px;
    height: 35px;
    display: block;
}
#logo-2{
    margin-top: 5px;
}
#logo-2> svg:hover{
    filter: contrast(100);
}
#menu{
    display: flex;
    align-items: center;
    gap: 40px;
    height: 40px;
}
#menu > a{
    color: #888888;
    font-size: 16px;
    font-family: monospace;
    font-weight: 300;
    text-decoration: none;
    padding: 20px;
}
#menu > a:hover{
    color: white;
}
main{
    background-color: #222;
}
.item{
    width: 100%;
    height: 100%;
    display: block;
}
.back-1{
    background-color: red;
}
.back-2{
    background-color: red;
}
.cont{
    color: white;
    text-align: center;
    margin-top: 70px;
}
.cont > h1{
    font-family: var(--font1);
    font-weight: 400;
    font-size: 3.5rem;
    padding-bottom: 15px;
}
.cont > h2{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.75rem;
    padding-bottom: 15px;
}
.cont > a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.3125rem;
}
.cont > a:hover{
    text-decoration: underline;
}
.cont > a::after{
    content: " >";
    color: #44d62c;
    display: inline-block;
    padding: 5px;
}




